cdrom
text
lang en_US.UTF-8
keyboard us
network --device=eth0 --bootproto=dhcp --hostname=localhost.dc.local
rootpw vagrant
#firewall --disabled
selinux --permissive
timezone Europe/Warsaw --utc
timesource --ntp-disable
bootloader --location=mbr --append="console=tty0 console=ttyS0,115200 net.ifnames=0 biosdevname=0"
skipx
zerombr
clearpart --all --initlabel
autopart --type=plain --nohome
auth --enableshadow --passalgo=sha512
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
user --name=vagrant --plaintext --password vagrant
reboot

%packages
@^server-product-environment
@development
@hardware-monitoring
@legacy-unix
@performance
@remote-system-management
yum-utils
net-tools
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%post
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
%end
